
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}
.error-block{
  color: $red;
}
.row{
  margin-bottom: 10px;
}

h5.page-title{
  background: $inkblue;
  color: #fff;
  width: 100%;
  padding: 10px;
}
.row strong{
  margin-right: 5px;
}